* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/* App-header */

.app-header {
    height: 70px;
    background-color: aqua;
}

.logo-mobile {
    max-width:30px;
}

.search {
    background-image: url(https://fontawesome.com/icons/magnifying-glass?f=classic&s=solid);
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    padding: 10px 5px 10px 20px;
    text-indent: 20px;

    -webkit-transition: all 0.2s;
    -moz-transition: all 2s;
    transition: all 0.2s;

    width: 200px;
}

/* App-nav-bar */

.app-nav-bar {
    width: 65px;
    background-image: url(../img/sidebar-bg.png);
}

.badge-list {
    list-style: none;
}

/* Prossime-classi */

.badge-stato.done {
    background-color: rgba(25,135,84,255);
}

.badge-stato.process {
    background-color: rgba(255,193,7,255);
}

.badge-stato.failed {
    background-color: rgba(220,53,69,255);
}

.image-table {
    width: 30px;
}

.table-col-date,
.table-col-rol {
    display: none;
}