* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app, 
.app-header,
.app-content {
    overflow: hidden;
}

.app-main-content {
    overflow: auto;
}
/* App-header */

.app-header {
    height: 70px;
    background-color: aqua;
}

.logo-mobile {
    max-width:30px;
}

/* App-nav-bar */

.app-nav-bar {
    width: 65px;
    background-image: url(../img/sidebar-bg.png);
    background-color: rgba(5,30,52,255);
}

.badge-list {
    list-style: none;
}


/* Prossime-classi */

.badge-stato.done {
    background-color: rgba(25,135,84,255);
}

.badge-stato.process {
    background-color: rgba(255,193,7,255);
}

.badge-stato.failed {
    background-color: rgba(220,53,69,255);
}

.image-table {
    width: 30px;
}

.table-col-date,
.table-col-rol {
    display: none;
}

.table-col-state {
    text-align: center;
}