* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/* App-header */

.app-header {
    height: 70px;
    background-color: aqua;
}

/* App-nav-bar */

.app-nav-bar {
    width: 65px;
    background-image: url(../img/sidebar-bg.png);
}